.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #43c6ac;
  background: white;
  background: linear-gradient(to right, #000705, #c6dad600);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.strikethrough {
  text-decoration: line-through;
  color: black;
}

.colorMe {
  background: #24242473;
  color: black;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 18px;
  border-radius: 10px;
}

.error {
  text-align: center;
  font-weight: bold;
  font-size: 400%;
  margin-top: 20%;
  margin-left: 8%;
  color: #382f0f;
}

h4 {
  color: rgba(151, 167, 192, 0.836);
}

.loginPageCss {
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 3px 10px 10px 3px black;
  border: 2px solid rgb(36, 3, 3);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 180px;

  background-repeat: no-repeat;
  background-repeat: cover;
  background-size: 100%;
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgb(156, 151, 151);
}
.input {
  font-size: 20px;
  border-radius: 10px;
  border-color: rgb(201, 201, 17);
  background-color: rgb(228, 222, 222);
}

.input:hover {
  background-color: rgba(50, 70, 48, 0.158);
  transition-duration: #a7a19f;
}

lable {
  font-weight: bold;
  font-size: 30px;
  color: #1a3106;
  text-shadow: 0 1px 0 #8b8b8b, 0 2px 0 #a3a0a0, 0 3px 0 #a3a0a0,
    0 4px 0 #a3a0a0, 0 30px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.5px;
}

.button {
  background-color: rgb(24, 29, 29);
  color: white;
  border-radius: 5px;
  width: 18%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -50px;
  font-size: 18px;
  box-shadow: 0 3px 3px 0 rgb(20, 20, 58);
}
.button:hover {
  background-color: rgba(125, 209, 202, 0.301);
  color: black;
  border-radius: 10px;
}

h1 {
  text-align: center;
  border-radius: 7px;
  color: rgb(12, 11, 11);
  width: 50%;
  margin-left: 350px;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
  text-shadow: 0 1px 0 #8b8b8b, 0 2px 0 #a3a0a0, 0 3px 0 #a3a0a0,
    0 4px 0 #a3a0a0, 0 30px 5px rgba(8, 8, 8, 0.1);
  letter-spacing: 1.5px;
}

.mainBox {
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  width: 70%;
  margin-left: 220px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-right: 100px;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 black;
  border-radius: 15px solid white;
  padding-bottom: 50px;
  border: 2px solid rgb(141, 134, 134);
  background: #bdc3c7;
}
.mainBox:hover {
  background-color: rgba(50, 70, 48, 0.158);
  transition-duration: #a7a19f;
}

.task {
  background-color: rgb(70, 78, 77);
  margin-bottom: 10px;
  margin-top: 30px;
  color: white;
  width: 50%;
  height: 50px;
  padding: 5px;
  border: 2px solid rgb(77, 72, 72);
  border-radius: 12px;
  font-size: 100%;
}

.description {
  background-color: rgb(70, 78, 77);
  margin-bottom: 10px;
  margin-top: 5px;
  color: white;
  width: 70%;
  height: 60px;
  padding: 5px;
  border: 2px solid rgb(77, 72, 72);
  font-size: 100%;
  border-radius: 12px;
}

.datum {
  background-color: rgb(65, 71, 69);
  margin-top: 10px;
  color: white;
  width: 30%;
  height: 50px;
  padding: 2px;
  border: 2px solid rgb(36, 3, 3);
  font-size: 100%;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(122, 130, 131);
  color: white;
  border-radius: 15px;
}

.btn {
  background-color: #d3c9c9;
  color: black;
  border-radius: 7px;
  margin-top: 10px;
  width: 95px;
  box-shadow: 0 5px 10px 0 black;
}

.todos {
  margin-top: 30px;
  width: 70%;
  margin-left: 15%;
  padding-top: 5px;
  padding-bottom: 20px;
}

.delete {
  background: #f1f2b5;
  background: -webkit-linear-gradient(to right, #151616, #f1f2b5);
  background: linear-gradient(to right, #222324, #f1f2b5);
  width: 70px;
  color: rgb(24, 23, 23);
}

.filterAdd {
  background-color: rgb(66, 66, 66);
  color: white;
  width: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 12px;
}

.filterAdd:hover {
  background-color: rgb(0, 2, 1);
  color: white;
  border-radius: 10px;
}

.select {
  width: 150px;
  height: 40px;
  background: white;
  border-radius: 10px;
}

.fill {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 7%;
}
